{% extends 'base.html' %}

{% load static %}

{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		
		<meta property="og:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'comics/favicon/favicon-180.png' %}" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta name="twitter:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'comics/favicon/favicon-180.png' %}" />
		<meta name="twitter:site" content="@lifesahowl" />

{% endblock metadata %}

{% block title %}
Life's a Howl - News page
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
			<article>
				{% if news %}
					<h2>{{news.title}}</h2>
					<p class="byline">{{news.date}}</p>
					<div class="news_body">
					{{news.news|safe}}
					</div>
				{% else %}
				{% endif %}
			</article>
		</div>
		
	</div>
		{% include "right_column.html" %}
{% endblock content %}


