{% extends 'base.html' %}

{% load staticfiles %}

{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		
		<meta property="og:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta name="twitter:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta name="twitter:image" content="" />
		<meta name="twitter:site" content="@lifesahowl" />

{% endblock metadata %}

{% block title %}
Life's a Howl - News page
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
		{% for stuff in news %}
			<article>
				<h2>{{stuff.title}}</h2>
				<p class="byline">{{stuff.date}}</p>
				<div class="news_body">
				{{stuff.news|safe}}
				</div>
				<p>Traceback: <a href="{% url 'news:page' stuff.id stuff.slug %}">booyah</a> </p>
				<hr />
			</article>
		{% endfor %}
		{% if page_obj.has_previous %}
			<p><a href="?page={{ page_obj.previous_page_number }}">More recent news...</a></p>
		{% endif %}
		{% if page_obj.has_next %}
			<p><a href="?page={{ page_obj.next_page_number }}">Older news...</a></p>
		{% endif %}	
		</div>
		
	</div>
		{% include "right_column.html" %}
{% endblock content %}


