{% extends 'base.html' %}

{% load static %}

{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="List of comic pages for Life's a Howl" />
		
		<meta property="og:title" content="Life's a Howl - Comic archive" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'comics/favicon/favicon-180.png' %}" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="List of comic pages for Life's a Howl" />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - Comic archive" />
		<meta name="twitter:description" content="List of comic pages for Life's a Howl" />
		<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'comics/favicon/favicon-180.png' %}" />
		<meta name="twitter:site" content="@lifesahowl" />

{% endblock metadata %}

{% block title %}
Life's a Howl - Archive
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
			<h2 class="title">Archive</h2>
			<p><a href="{% url 'archive:cally' %}">Switch to calendar view</a></p>
			{% if arc %}
				{% for item in arc %}
					{% if item.booknum == 0 %}
					<h3>{{ item.title }}</h3>
					{% else %}
					<h3>Book {{ item.booknum }} - {{item.title}}</h3>
					{% endif %}
						<ul>
							{% for comic in item.get_comics %}
							<li>({{comic.date|date:"c"}}) <a href="{% url 'comics:page' comic.id comic.slug %}">
								{% if comic.cid == 0 %}
									{{ comic.gcomic.get_type_display }} by {{ comic.gcomic.author }}
								{% else %}
									#{{ comic.cid }}
								{% endif %}
								 - {{ comic.title }}</a> </li>
							{% endfor %}
						</ul>
				{% endfor %}
			{% else %}
				
			{% endif %}
		</div>
	</div>
		{% include "right_column.html" %}
{% endblock content %}


