{% extends 'base.html' %}

{% load staticfiles %}

{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		
		<meta property="og:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta name="twitter:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta name="twitter:image" content="" />
		<meta name="twitter:site" content="@lifesahowl" />

{% endblock metadata %}

{% block title %}
Life's a Howl - Archive
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
			<h2>Archive</h2>
			<p><a href="{% url 'archive:cally' %}">Switch to calendar view</a></p>
			{% for item in arc %}
				{% if item.booknum == 0 %}
				<h3>{{ item.title }}</h3>
				{% else %}
				<h3>Book {{ item.booknum }} - {{item.title}}</h3>
				{% endif %}
					<ul>
						{% for comic in item.get_comics %}
						<li>({{comic.date|date:"c"}}) <a href="{% url 'comics:page' comic.id comic.slug %}">
							{% if comic.cid == 0 %}
								Guest comic
							{% else %}
								#{{ comic.cid }}
							{% endif %}
							 - {{ comic.title }}</a> </li>
						{% endfor %}
					</ul>
			{% endfor %}
		</div>
	</div>
		{% include "right_column.html" %}
{% endblock content %}


