{% extends 'base.html' %}

{% load extras_tags %}

{% load staticfiles %}


{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="Site info, author info, tech details, and other assorted information for Life's a Howl" />
		
		<meta property="og:title" content="Life's a Howl - Info page" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{% static 'comics/favicon/favicon-180.png' %}" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="Site info, author info, tech details, and other assorted information for Life's a Howl" />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - Info page" />
		<meta name="twitter:description" content="Site info, author info, tech details, and other assorted information for Life's a Howl" />
		<meta name="twitter:image" content="{% static 'comics/favicon/favicon-180.png' %}" />
		<meta name="twitter:site" content="@lifesahowl" />
{% endblock metadata %}

{% block title %}
Life's a Howl - Extras
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
		
			
			{% if interesting %}
				<h2>Interesting things</h2>
				<ul>
					{% for item in interesting %}
					<li class="invis"><a href="{{ item.url }}">{{ item.title }}</a> - {{ item.desc }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			

		</div>
	</div>
		{% include "right_column.html" %}
{% endblock content %}
