{% extends 'base.html' %}

{% load staticfiles %}

{% block metadata %}
		<link rel="canonical" href="http://www.lifesahowl.com/" />
		<meta name="description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		
		<meta property="og:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="http://www.lifesahowl.com/" />
		<meta property="og:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta property="og:locale" content="language_en_US" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content="http://www.lifesahowl.com/" />
		<meta name="twitter:title" content="Life's a Howl - a werewolf comic by Liz Walsh" />
		<meta name="twitter:description" content="An epic urban fantasy webcomic about life, love and lycanthropy." />
		<meta name="twitter:image" content="" />
		<meta name="twitter:site" content="@lifesahowl" />

{% endblock metadata %}

{% block title %}
Life's a Howl - About page
{% endblock title %}

{% block content %}

	<div class="leftside">
		<div class="textbox">
			<h2>About...</h2>
			{% for item in about_page %}
			<div>
				<h3>{{ item.title }}</h3>
				{{ item.body|safe }}
			</div>
			<div class="clear"></div>
			<hr />
			
			{% endfor %}
		</div>
	</div>
		{% include "right_column.html" %}
{% endblock content %}


